2025/09/18/2fnzV02sBdhB06Ui.json
{"nodes":[{"parameters":{"chatId":"8400587790","text":"=prijsalert | Huidige (1m close): ${{$json.current}} Drempel: ${{$json.expected}} ({{$json.direction}})⏱️ {{$json.triggered_at}} Grafiek: https://www.tradingview.com/chart/?symbol={{$json.symbol}}","additionalFields":{}},"id":"1ac46c82-3ce4-4b35-9124-5a839c4a8a12","name":"Telegram → Send Message","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2976,160],"webhookId":"b4d0a450-45e0-4f85-ba8d-b681b0e53544","credentials":{"telegramApi":{"id":"iKtTM6paYduvyNoQ","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"select id, symbol, target_price::float8 as target_price, direction, window_minutes, active, last_notified_at\nfrom watchlist_crypto\nwhere active = true;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1776,144],"id":"cedbe39d-ade1-4e82-8a26-d70786a1905b","name":"Postgres → Load Watchlist1","alwaysOutputData":false,"credentials":{"postgres":{"id":"yRnu83irRm57K8JO","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"61999137-5e74-43f5-9502-25075ddbde45","name":"APCA-API-KEY-ID","value":"PKU0NRQDJV8J14GKYDGO","type":"string"},{"id":"80c1a109-5828-467e-a510-296d8a10f0fc","name":"APCA-API-SECRET-KEY","value":"38LahGNwNJa0yq6RFy8OxXv3VgS1gYGzxR3gYCiv","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,144],"id":"3b3bb144-9aac-42bf-b8a9-98adf188dec5","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"update watchlist_crypto\nset last_notified_at = now()\nwhere id = {{ $('Check vs Target + Debounce').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3248,160],"id":"246f2ceb-8f24-4fde-b072-7193832236e8","name":"Postgres → Set last_notified_at1","credentials":{"postgres":{"id":"yRnu83irRm57K8JO","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2032,144],"id":"c0ad0b25-65e5-40a8-b14b-dc7c1fbcaf66","name":"Loop Over Items","alwaysOutputData":true},{"parameters":{"url":"=https://data.alpaca.markets/v1beta3/crypto/us/latest/bars?symbols={{ $json.symbol }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"APCA-API-KEY-ID","value":"={{ $('Edit Fields').item.json['APCA-API-KEY-ID'] }}"},{"name":"APCA-API-SECRET-KEY","value":"={{ $('Edit Fields').item.json['APCA-API-SECRET-KEY'] }}"}]},"options":{}},"id":"36cbd573-f42d-4373-9c67-6b56608f56d3","name":"Alpaca → Latest 1m Bar1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2320,144],"alwaysOutputData":true},{"parameters":{"jsCode":"// Pak beide input items, volgorde-onafhankelijk\nconst items  = $input.all().map(i => i.json);\n\nconst alpaca = items.find(x => x && x.bars);\nconst db     = items.find(x => x && x.id !== undefined);\n\n// Symbool bepalen (db.symbol heeft voorkeur, anders eerste key uit alpaca.bars)\nconst symbol = String(db?.symbol ?? Object.keys(alpaca?.bars ?? {})[0] ?? '');\n\nconst series = alpaca?.bars?.[symbol];\nconst bar = Array.isArray(series) ? series[0] : series ?? null;\n\n// Safety checks\nif (!bar) return [];\n\nconst close   = Number(bar.c);\nconst barTime = bar.t ?? null;\n\n\n\nif (!isFinite(close)) return [];\n\n// Doel & richting uit DB\nconst expected  = Number(db?.target_price);\nconst direction = String(db?.direction || '').toLowerCase();\nconst now       = new Date();\n\nlet hit = false;\nconsole.log(\"close: \" + close)\nconsole.log(\"expected: \" + expected)\nswitch (direction) {\n  case 'at_or_above': hit = close >= expected; break;\n  case 'at_or_below': hit = close <= expected; break;\n  default: return [];\n}\n\nconsole.log('hit', hit)\n\n// Niet geraakt? Stop\nif (!hit) return [];\ndebugger;\n// Debounce op basis van window_minutes\nconst windowMin = Number(db?.window_minutes || 60);\nif (db?.last_notified_at) {\n  const last = new Date(db.last_notified_at).getTime();\n  const diffMin = (now.getTime() - last) / 60000;\n  if (diffMin < windowMin) return [];\n}\n\n// Output voor Telegram + DB update\nreturn [{\n  json: {\n    id: db.id,\n    symbol,\n    current: close,\n    expected,\n    direction,\n    window_minutes: windowMin,\n    bar_time: barTime,\n    triggered_at: now.toISOString()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,160],"id":"a64a8d17-3134-4e57-9d1c-626c27c2e4d0","name":"Check vs Target + Debounce","alwaysOutputData":false},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2496,320],"id":"c4695ec3-e713-4d0b-bdea-707f574f55c3","name":"Merge"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyMinute"}]}},"id":"436d84bb-c436-43ce-bec6-ab593a72c413","name":"Cron (every 1 min)","type":"n8n-nodes-base.cron","typeVersion":1,"position":[1264,144]}],"connections":{"Postgres → Load Watchlist1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Postgres → Load Watchlist1","type":"main","index":0}]]},"Telegram → Send Message":{"main":[[{"node":"Postgres → Set last_notified_at1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Alpaca → Latest 1m Bar1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Alpaca → Latest 1m Bar1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Check vs Target + Debounce","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Check vs Target + Debounce":{"main":[[{"node":"Telegram → Send Message","type":"main","index":0}]]},"Postgres → Set last_notified_at1":{"main":[[]]},"Cron (every 1 min)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}