2025/08/30/3fjdUvTkFZCRkXwP.json
{"nodes":[{"parameters":{"url":"https://newsapi.org/v2/everything?q=growth+OR+expansion+OR+funding+OR+ipo+OR+earnings&language=en&pageSize=20","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1728,256],"id":"95310b0e-c277-4a2f-b638-f5f90bc8e82e","name":"Nieuws ophalen","credentials":{"httpBearerAuth":{"id":"ImDmgcbCUceNsgwr","name":"Bearer Auth account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4},{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1968,256],"id":"52325e08-9395-4745-b42c-e282f33e6f0d","name":"Schedule Trigger"},{"parameters":{"jsCode":"const results = [];\nconst articles = items[0].json.articles || [];\nfor (const article of articles) {\n  results.push({\n    json: {\n      title: article.title,\n      description: article.description,\n      url: article.url\n    }\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,256],"id":"6d5be366-2e6d-44ef-a443-e76c4ed60e38","name":"Extract Artikelen"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"Jij bent een ervaren beleggingsanalist. Je taak is om nieuwsberichten te analyseren en te beoordelen of ze wijzen op groeipotentie voor het genoemde bedrijf. Geef per bericht een groeipotentie-score van 1 t/m 10, waarbij 1 geen groeipotentie betekent en 10 uitzonderlijke groeikansen. Geef daarnaast een korte, beknopte motivatie van maximaal 3 zinnen waarin je uitlegt waarom je tot deze score komt. Focus op factoren zoals omzetgroei, marktexpansie, innovaties, strategische samenwerkingen, regelgeving of macro-economische invloeden.","role":"system"},{"content":"=Beschrijving: {{ $json.combinedContent }}\\n\\nHeeft dit bedrijf groeipotentie? \nAnalyseer de volledige omschrijving en op basis van alle nieuws artikelen geef een groeiscore op een schaal van 10 en uitleg en benoem het bedrijf en ook het aandeel zodat ik weet welke aandelen ik moet kopen."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[560,256],"id":"d96646f6-293d-4628-8d39-db6f10392629","name":"OpenAI Analyse","credentials":{"openAiApi":{"id":"5hKi9MrYjdoxQ7Ht","name":"OpenAi account"}}},{"parameters":{"chatId":"8400587790","text":"=Groei-aandelen aanbevelingen:\n\n{{ $json.message.content }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1024,256],"id":"0497114f-4dda-4c9d-8d87-a312855238a9","name":"Send a text message","webhookId":"faa63905-36a0-4cde-bc38-9646abab1c04","credentials":{"telegramApi":{"id":"iKtTM6paYduvyNoQ","name":"Telegram account"}}},{"parameters":{"updates":["message"],"additionalFields":{"chatIds":"8400587790"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1968,48],"id":"5d57bc2a-3401-4c98-84ed-cfe23e802528","name":"Telegram Trigger","webhookId":"b3a3e571-cad6-4531-92a4-1347b3239492","credentials":{"telegramApi":{"id":"iKtTM6paYduvyNoQ","name":"Telegram account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1264,256],"id":"7fd05f4a-c31d-444a-ac77-2a735e8f4935","name":"Loop Over Items1"},{"parameters":{"promptType":"define","text":"=Give me the name of the company in a a single word for the following news article:  {{ $json.title }}{{ $json.description }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-656,256],"id":"33fff9a6-3909-4030-8940-49ac9dce448a","name":"AI Agent","notesInFlow":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-656,480],"id":"813aaab7-ad63-457d-bc16-dbff16610a1f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"5hKi9MrYjdoxQ7Ht","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,256],"id":"a28fb3e5-03ee-4a1d-a4fa-ab6f0da475d2","name":"Nieuws ophalen1","credentials":{"httpBearerAuth":{"id":"ImDmgcbCUceNsgwr","name":"Bearer Auth account"}}},{"parameters":{"jsCode":"// Bereken datums\nconst today = new Date();\nconst oneMonthAgo = new Date();\noneMonthAgo.setMonth(today.getMonth() - 1);\n\n// Formatteer als YYYY-MM-DD\nconst formatDate = (date) => date.toISOString().split('T')[0];\n\nconst from = formatDate(oneMonthAgo);\nconst to = formatDate(today);\n\n// Bouw URL\nconst url = `https://newsapi.org/v2/everything?q=${encodeURIComponent($input.first().json.JSON.company)}&from=${from}&to=${to}&sortBy=popularity`;\n\nreturn [\n  {\n    json: {\n      url\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,256],"id":"fdf58c64-977a-44c1-99cd-636c6760e35d","name":"Code","alwaysOutputData":false},{"parameters":{"jsCode":"const articles = $input.first().json.articles;\n\nconst combinedContent = articles.map(article => article.content).join('\\n\\n');\n\nreturn [\n  {\n    json: { combinedContent }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,256],"id":"ef256ccd-ca97-4d04-9e94-98af74672831","name":"Code1","alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"1_fQyDOhMik34h2HBzGRbUPnkM7EFkyeQXxYFemOjCIM","mode":"list","cachedResultName":"GrowStocks","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_fQyDOhMik34h2HBzGRbUPnkM7EFkyeQXxYFemOjCIM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_fQyDOhMik34h2HBzGRbUPnkM7EFkyeQXxYFemOjCIM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-288,-192],"id":"a213d699-5716-40f8-a5b6-37440b43b17d","name":"Get row(s) in sheet","alwaysOutputData":true,"notesInFlow":false,"credentials":{"googleSheetsOAuth2Api":{"id":"YZjJYQiyDOLEQOJn","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1_fQyDOhMik34h2HBzGRbUPnkM7EFkyeQXxYFemOjCIM","mode":"list","cachedResultName":"GrowStocks","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_fQyDOhMik34h2HBzGRbUPnkM7EFkyeQXxYFemOjCIM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_fQyDOhMik34h2HBzGRbUPnkM7EFkyeQXxYFemOjCIM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"CompanyName":"={{ $json.JSON.company }}"},"matchingColumns":["CompanyName"],"schema":[{"id":"CompanyName","displayName":"CompanyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[464,-16],"id":"b392a56e-63ff-4335-9836-1863112237da","name":"Append row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"YZjJYQiyDOLEQOJn","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const rows = $input.all().map((item) => item.json);\nconst valueToCheck = $(\"AI Agent\").first().json.output;\n\nconst matchedRows = rows.filter((row) =>\n  Object.values(row).includes(valueToCheck),\n);\n\nif(matchedRows.length > 0){\n  return [{\n  JSON:{\n    exists: true,\n    company: valueToCheck\n  }\n    \n  }];  \n}\nelse\n{\n  return [{\n  JSON:{\n    exists: false,\n    company: valueToCheck\n  }\n    \n  }];\n}\n\nreturn { matchedRows };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-32],"id":"88800d39-b420-406d-a31c-a89c94108f34","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab894345-b0f1-4c6e-9fd0-142bb89df9f2","leftValue":"={{ $json.JSON.exists }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,-32],"id":"499b66f0-1624-4a2b-84bb-84490603deaa","name":"If","alwaysOutputData":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[96,96],"id":"d67bc46b-8121-4f0c-8df1-7c64623b3830","name":"Wait","webhookId":"4c59b34b-e9c1-49f3-bfa1-bf0bc260b25b"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-992,272],"id":"a407612f-cd18-4870-ba14-2f80eeec6a53","name":"Wait1","webhookId":"efae3611-348a-448e-bc15-7ecf8687ca0c"},{"parameters":{"chatId":"8400587790","text":"Er is iets misgegaan","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-256,528],"id":"79a647ef-6307-4076-bd69-afa01fbf1fd9","name":"Send a text message1","webhookId":"686a24c7-0a62-4376-847e-b61be01438b5","credentials":{"telegramApi":{"id":"MoBgowLuGb9E5EZx","name":"Telegram account 2"}}}],"connections":{"Nieuws ophalen":{"main":[[{"node":"Extract Artikelen","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Nieuws ophalen","type":"main","index":0}]]},"Extract Artikelen":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI Analyse":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Nieuws ophalen","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Send a text message1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Nieuws ophalen1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Nieuws ophalen1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"OpenAI Analyse","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Code","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}